/// Generate declarations in order to set the ratio width/height equals to the
/// argument passed.
/// @author Jakob Eriksen
/// @example
///   .class { @include aspect-ratio(); }            // no arguments defaults to a 1:1 ratio
///   .class { @include aspect-ratio(16, 9); }       // width and height
///   .class { @include aspect-ratio(1.777778); }    // ratio (calculated width/height)
///   .class { @include aspect-ratio(4px, 3px); }    // comparable units
///   .class { @include aspect-ratio($ratio: 1.2); } // keywords
/// @group box
/// @source http://codepen.io/jakob-e/pen/WvrJwN The original codepen demo
/// @name aspect-ratio
/// @output ::before and ::after elements css declarations
/// @param {numbers | list} $ratio [1]
/// @since 1.0.0
@mixin aspect-ratio($arglist...) {
  $map: keywords($arglist);
  $height: map-get($map, height) or nth-or-null($arglist, 2);
  $width: map-get($map, width) or nth-or-null($arglist, 1);
  $ratio: map-get($map, ratio) or if($width and $height, $width / $height, nth-or-null($arglist, 1)) or 1;
  $padding: 1 / $ratio * 100%;

  &::before {
    content: '';
    float: left;
    padding-bottom: $padding;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/// Implement the aspect-ratio mixin with responsiveness. *This mixin needs
/// trowel-responsive implemented to work.*
/// @author Loïc Goyet
/// @example
///   $ratio: (
///     'default': (16, 9),
///     'sm': 4 / 3,
///     'md': 1,
///   );
///
///   .class {
///     @include aspect-ratio-responsive($ratio);
///   }
/// @group box
/// @name aspect-ratio-responsive
/// @param {map} $values - The map with as key a responsive tag from trowel-responsive or 'default', and as value the $ratio param from aspect-ratio mixin.
/// @param {string} $philosophy ['mobile-first'] - Which philosophy will be applied to the trowel-responsive's media-query mixin. Can be 'mobile-first', 'desktop-first', or 'restrictive'.
/// @since 1.6.0
@mixin aspect-ratio-responsive($values, $philosophy: 'mobile-first') {
  @if mixin-exists(media-query) and function-exists(is-breakpoint) {
    @if type-of($values) == 'map' {
      @each $tag, $value in $values {
        @if is-breakpoint($tag) {
          @include media-query($tag, $philosophy) {
            @include aspect-ratio($value);
          }
        } @elseif $tag == 'default' {
          @include aspect-ratio($value);
        } @else {
          @error 'If the responsive-values mixin first param is a map, it must have as key a breakpoint-tag setted into the $breakpoints map or the "default" string';
        }
      }
    } @else {
      @include aspect-ratio($values);
    }
  } @else {
    @error 'You cannot use this mixin without included first trowel-responsive';
  }
}

/// Generate declaration to make css truncate
/// @author Chris Coyier
/// @source https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
/// @name style-truncate
/// @group box
@mixin style-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
