/// Output declarations to reset <button> style
/// @name reset-button
/// @author Loïc Goyet
/// @group resets
@mixin reset-button {
  padding: 0;
  appearance: initial;
  border: 0;
  background-color: transparent;

  &:focus {
    outline-width: 0;
  }
}

/// Output declarations to reset <ul> style
/// @name reset-list
/// @author Loïc Goyet
/// @group resets
@mixin reset-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
